<div class='row mb-5'>
  <div class='col-md-12 text-center'>
    <h2>{{user.name}}'s posts</h2>
  </div>
  <div class='post-container p-3'>
    {{#each posts as |post|}}
      <a href='/post/{{post.id}}'>
        <div class='post-card col-12 p-1'>
          <h3 class='post-highlight text-center p-1'>{{post.title}}</h3>
          <p class='p-3'>{{post.content}}</p>
          <p class='post-highlight text-end'>Posted on
            {{post.createdOn}}
          </p>
        </div>
      </a>
    {{/each}}
  </div>

</div>